<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<div>
			<a href="/">Home</a> | 
			<a href="/postings/add">Add Jobs</a> | 
			<a href="/postings">All Jobs List</a>
		</div>	
		<h1><%= title %></h1>
